In [1]:
import pandas as pd

/var/folders/7d/qqvq8tm16zn3g36s4b7711600000gn/T/ipykernel_77285/2035458946.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df1 = pd.read_csv('/Users/mahas/Downloads/combined_city_data_2015_2022.csv')

In [3]:
df2 = pd.read_csv('/Users/mahas/Downloads/5_City_AQI.csv')

In [13]:
res = pd.merge(df1, df2, left_on=["City", "time"], right_on=["City", "Date"], how="left")

In [14]:
res.head()

,dropme,time,tavg,tmin,tmax,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
0,0,2015-01-01,14.9,8.800000,21.6,Delhi,2015-01-01,313.22,607.98,69.16,36.39,110.59,33.85,15.20,9.25,41.68,14.36,24.86,9.84,472.0
1,1,2015-01-02,14.7,10.200000,21.6,Delhi,2015-01-02,186.18,269.55,62.09,32.87,88.14,31.83,9.54,6.65,29.97,10.55,20.09,4.29,454.0
2,2,2015-01-03,15.0,19.203503,16.8,Delhi,2015-01-03,87.18,131.90,25.73,30.31,47.95,69.55,10.61,2.65,19.71,3.91,10.23,1.99,143.0
3,3,2015-01-04,14.2,19.203503,19.0,Delhi,2015-01-04,151.84,241.84,25.01,36.91,48.62,130.36,11.54,4.63,25.36,4.26,9.71,3.34,319.0
4,4,2015-01-05,13.9,7.800000,20.7,Delhi,2015-01-05,146.60,219.13,14.01,34.92,38.25,122.88,9.20,3.33,23.20,2.80,6.21,2.96,325.0

In [16]:
res = res.drop("dropme", axis=1)

In [17]:
res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13815 entries, 0 to 13814
Data columns (total 19 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   time     13815 non-null  object
 1   tavg     13815 non-null  float64
 2   tmin     13815 non-null  float64
 3   tmax     13815 non-null  float64
 4   City     13815 non-null  object
 5   Date     10045 non-null  object
 6   PM2.5    10045 non-null  float64
 7   PM10     10045 non-null  float64
 8   NO       10045 non-null  float64
 9   NO2      10045 non-null  float64
 10  NOx      10045 non-null  float64
 11  NH3      10045 non-null  float64
 12  CO       10045 non-null  float64
 13  SO2      10045 non-null  float64
 14  O3       10045 non-null  float64
 15  Benzene  10045 non-null  float64
 16  Toluene  10045 non-null  float64
 17  Xylene   10045 non-null  float64
 18  AQI      10045 non-null  float64
dtypes: float64(16), object(3)
memory usage: 2.0+ MB

In [18]:
res.to_csv("result.csv", index=False)